@model List<BitirmeProjesi.Data.Messages>


<div class="content">
    <div class="row row-cards">
        <div class="col-xl-12">
            <div class="col-lg-12">
                <div class="main-content-app">
                    <div class="main-content-body main-content-body-chat h-100">
                        <div class="main-chat-body flex-2" id="ChatBody">
                            <div id="userMessages" class="content-inner">
                                @foreach (var item in Model)
                                {
                                    if (item.Status == 2)
                                    {
                                        <div class="media chat-left">
                                            <div class="media-body">
                                                <div class="main-msg-wrapper">
                                                    <span>@item.ContentMessage</span>
                                                </div>
                                                <div>
                                                    <span>@item.CreateDate.Value.ToString("dd-MMM-yyyy HH:mm")</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="media flex-row-reverse chat-right">
                                            <div class="media-body">
                                                <div id="messages" class="main-msg-wrapper">
                                                    <span>@item.ContentMessage</span>
                                                </div>
                                                <div>
                                                    <span>@item.CreateDate.Value.ToString("dd-MMM-yyyy HH:mm")</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        @using (Html.BeginForm("SendMessage", "Message", new { Area = String.Empty }, FormMethod.Post))
                        {
                            @Html.Hidden("userId", (object)ViewBag.userId)
                            @Html.Hidden("vetId", (object)ViewBag.vetId)
                            @Html.Hidden("questionId", (object)ViewBag.questionId)
                            <form>
                                <div class="main-chat-footer">
                                    @Html.TextBox("contentMessage", null, new { @class = "form-control txtMessage", placeholder = "Mesajınızı Yazınız" })
                                    <button type="submit" id="btnSendMessage" class="btn btn-icon  btn-primary brround"><i class="fa fa-paper-plane-o"></i></button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<script src="~/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
<script src="~/assets/plugins/p-scroll/pscroll.js"></script>
<script src="~/assets/plugins/p-scroll/pscroll-1.js"></script>
<script src="~/assets/js/chat.js"></script>

<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/SignalR/Hubs"></script>

<script>
    $("#btnSendMessage").click(function () {
        var $message = $('.txtMessage');
        var mesaj = $message.val();
        $.ajax({
            url: '/Message/SendMessage/',
            type: 'POST',
            data: JSON.stringify({ 'contentMessage': mesaj }),
        });
    });

    $(function () {
        var chat = $.connection.chatHub;
        var $message = $('.txtMessage');
        var $messages = $('#userMessages');
        function dateConverter(d) {
            const monthList = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec"
            ];
            const yr = d.getUTCFullYear();
            const mnt = monthList[d.getUTCMonth()];
            const day = d.getUTCDate() < 9 ? "0" + d.getUTCDate() : d.getUTCDate();

            const gmtHr = d.getUTCHours();
            const gmtMin =
                d.getUTCMinutes() < 9 ? "0" + d.getUTCMinutes() : d.getUTCMinutes();

            return [day, mnt, yr].join("-") + " " + [gmtHr, gmtMin].join(":");
        }
        const time = dateConverter(new Date());
        $message.focus();
        chat.client.sendMessage = function (message) {
            $messages.append('<div class="media flex-row-reverse chat-right">  <div class="media-body"><div id="messages" class="main-msg-wrapper chat-right"><span>' + message + '</span ></div><div><span>' + time + '</span ></div ></div ></div > ');
            const modalBody = document.querySelector('#ChatBody');
            modalBody.scrollTop = modalBody.scrollHeight
        };
        $.connection.hub.start().done(function () {
            $('#btnSendMessage').click(function () {
                chat.server.send($message.val());
                //$message.val('').focus();
            });
        });
    });

</script>