@model List<BitirmeProjesi.ViewModels.User.VaccineListViewModel>
@{
    ViewBag.Title = "vaccine";
}
<a data-modal-form="true"
   data-modal-size="modal-xl"
   data-modal-title="Aşı Ekle"
   href="@Url.Action("AddVaccine","Animals", routeValues: new {Area = string.Empty, animalId =ViewBag.animalId })"
   class="btn btn-secondary mt-2 "
   style="display:table-caption">
    Yeni Aşı Ekle
</a>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Aşı İsmi</th>
            <th>Yapılış Tarihi</th>
            <th>Tekrar Tarihi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>@item.VaccineName</td>
                <td>@item.VaccinationDate</td>
                <td>@item.RecurrenceDate</td>
                <td><button data-id="@item.Id" type="button" class="btn btn-secondary vaccineDelete">Sil</button></td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".vaccineDelete").click(function () {
        var vaccineId = $(this).attr("data-id");
        var confirmDelete = confirm('Aşıyı silmek istediğinizden emin misiniz?');
        if (confirmDelete) {
            $.ajax({
                 type: "POST",
                 url: '@Url.Action("DeleteVaccine", "Animals")',
                 data: JSON.stringify({ 'id': vaccineId }),
                 contentType: 'application/json; charset=utf-8',
                 success: function (result) {
                    if (result.success) {
                        alert("Aşı silindi");
                    }
                }
            });
        }
    });
</script>