@model IPagedList<BitirmeProjesi.ViewModels.User.AnimalListViewModel>
 
<!--<div class="products-list-tools clearfix">-->

     
        @*<a class="btn btn-default btn-sm"
           data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-prepend="tbody#AnimalList"
           data-modal-title="  Servis Ekle"
           data-hook-beforeunload="true"
           href="@Url.Action("Add", "ServiceSetting", routeValues: new {Area =""  })">
            <i class="fa fa-plus"></i> Servis Ekle
        </a>*@
   

    <!--<!--<div class="pull-right hidden-xs hidden-sm">
        @if (Model.Any())
        {
            <div style="margin: 20px 0; float: left !important;">
                @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
            </div>
        }-->

        <!--@*&nbsp;
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "AnimalListContainer" }).Options(o => o
            .Action("AnimalList")
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(6)
            .AlwaysAddFirstPageNumber()
            .RouteValues(new { languageId = @ViewBag.LanguageId })

            )*@-->
    <!--</div>-->
<!--</div>-->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Cinsi</th>
            <th>Doğum Tarihi</th>
            <th>Cinsiyeti</th>
            <th>Aşı Bilgileri</th>
        </tr>
    </thead>
    <tbody id="AnimalList">
        @Html.DisplayFor(m => m)
    </tbody>

</table>
@*<div class="pull-left">

    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "AnimalListContainer" }).Options(o => o
        .Action("AnimalList")
        .DisplayTemplate("BootstrapPagination")
        .MaxNrOfPages(6)
        .AlwaysAddFirstPageNumber()
        .RouteValues(new { languageId = @ViewBag.LanguageId })
        )
</div>
@if (Model.Any())
{
    <div style="margin: 20px 0; float: left !important;">
        @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
    </div>
}*@

