
@model BitirmeProjesi.ViewModels.User.AnimalListViewModel

<tr id="@("animal_"+Model.Id)" class="master-row">

    <td>@Model.Name</td>
    <td>
        @Model.Type
    </td>
    <td>
        @Model.Birthdate
    </td>
    <td>
        @Model.Gender
    </td>
    <td>
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-title="Son Aşılar"
           data-id="@Model.Id"
           href="@Url.Action("VaccineList", "Animals", routeValues: new {Area = string.Empty, animalId = Model.Id})">
            Detay
        </a>
    </td>

    @*<td style="width:50px">
            <a data-modal-form="true"
               data-modal-size="modal-lg"
               data-modal-update="#service_@Model.Id"
               data-modal-highlight="#service_@Model.Id"
               data-modal-title="Servis Düzenle"
               data-hook-beforeunload="true"
               class="btn btn-block btn-success btn-sm"
               href="@Url.Action("Edit", "ServiceSetting", routeValues: new {Area = "Admin",serviceId=Model.Id})">
                <i class="fa fa-edit fa-fw text-success"></i> Servis Düzenle
            </a>

        </td>
        <td style="width:50px">
            <a href="javascript:void(0);"
               data-toggle="confirmation"
               title="Emin Misiniz"
               data-btn-ok-label="Evet"
               data-btn-cancel-label="Hayır"
               data-placement="top"
               data-service-id="@Model.Id"
               data-on-confirm="deleteService"
               class="btn btn-block btn-danger btn-sm">
                <i class="fa fa-trash fa-fw text-danger"></i> Servis Sil
            </a>

        </td>*@
</tr>

