@using Newtonsoft.Json

@model List<BitirmeProjesi.ViewModels.User.QuestionViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/jquery.min.js"></script>
<br />
<input type="hidden" id="questionIdData" value="@JsonConvert.SerializeObject(Model.Select(x=>x.Id))" />

<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title">Sorularım</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="responsive-datatable">
                        <thead>
                            <tr>
                                <th class="wd-15p border-bottom-0">Soru Başlığı</th>
                                <th class="wd-15p border-bottom-0">Veteriner Hekim</th>
                                <th class="wd-15p border-bottom-0">Detay Gör</th>
                                <th class="wd-15p border-bottom-0">Puan Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="@item.Id">
                                    <td>@item.Title</td>
                                    <td>@item.VetFullName</td>
                                    <td>
                                        <a data-modal-form="true"
                                           data-modal-size="modal-xl"
                                           data-modal-title="Mesajlaş"
                                           data-id="@item.Id"
                                           href="@Url.Action("MessagesDetail", "Message", routeValues: new {Area = string.Empty,questionId = item.Id})"
                                           data-hook-beforeunload="true"
                                           class="btn btn-secondary mt-2 ">
                                            Detay Gör
                                        </a>
                                    </td>
                                    <td>
                                        <div data-id="@item.Id" class="rating-stars block" id="rating-@item.Id" data-stars="@item.RatingScore">
                                        </div>

                                        @*<a data-modal-form="true"
                                               data-modal-size="modal-xl"
                                               data-modal-title="Puan Ver"
                                               href="@Url.Action("SendRatingPartialView", "Question", routeValues: new {Area = string.Empty,questionId = item.Id})"
                                               data-hook-beforeunload="true"
                                               class="btn btn-secondary mt-2 ">
                                                Puan Ver
                                            </a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/plugins/rating/jquery-rate-picker.js"></script>
 
<script>
    var questionIdData = JSON.parse($('#questionIdData').val());

    for (let i = 0; i < questionIdData.length; ++i) {
        $.ratePicker('#rating-' + questionIdData[i], {
            rate: function (stars, i) {
                $(".rating-stars").click(function () {
                    var id = $(this).attr("data-id");
                    postData(stars,id)
                });

            }
        });
    }

    function postData(stars, id) {
        $.ajax({
            type: "POST",
            url: "/Question/SendRating/",
            data: { "star": stars, "questionId": id },

        });
    }


</script>
@*      ;*@

@*function asd(stars,id) {
        alert("asd");
        alert(stars);
        alert(id);
        $.ajax({
            type: "POST",
            url: "/Question/SendRating/",
            data: { "star": stars, "questionId": id },

        });
    }*@